*,
*::before,
*::after {
  box-sizing: border-box;
}

/* font faces */

@font-face {
  font-family: "SourceCodePro";
  src: url(./fonts/SourceCodePro-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url(./fonts/SourceCodePro-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

/* custom variables */

/* font family */
$ff-primary: "SourceCodePro";

/* font weights */
$fw-reg: 300;
$fw-bold: 900;

/* colours */
$clr-light: whitesmoke;
$clr-dark: #303030;
$clr-accent: #09702b48;
$clr-hoversAccent: #f7b023;

/* font sizes */

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-body: 1rem;

/* media font sizes */

$m-fs-h1: 4.5rem;
$m-fs-h2: 3.75rem;
$m-fs-h3: 1.5rem;
$m-fs-body: 1.125rem;

/* box shadows  */

@mixin introImgBoxShadow($params...) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}
$boxShadow-introImg: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
// $boxShadow-introImg1: 0.125em 0.125 0.25em rgba(0, 0, 0, 0.15);

/* line break */

@mixin lineBreak {
  content: "";
  display: block;
  width: 4em;
  height: 1px;
  margin: 0.5em auto 1em;
  background-color: $clr-hoversAccent;
}
/*  */

/* general styles */
body {
  background-color: $clr-dark;
  color: $clr-light;
  margin: 0;
  font-family: $ff-primary;
  font-weight: $fw-reg;
  font-size: $fs-body;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 4.5em 2em;
}

// section::before {
//   content: "";
//   display: block;
//   width: 100%;
//   height: 1.5px;
//   margin: 0.5em auto 1em;
//   background-color: $clr-hoversAccent;
// }

img {
  display: block;
  max-width: 100%;
}

/* typography */

strong {
  font-weight: $fw-bold;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: $fs-h1;
  font-weight: $fw-reg;
}
h2 {
  font-size: $fs-h2;
  font-weight: $fw-reg;
}
h3 {
  font-size: $fs-h3;
  font-weight: $fw-reg;
}

.section__title {
  margin-bottom: 0.25em;
}
.section__title--intro {
  font-weight: $fw-reg;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: $fs-h3;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: $clr-accent;
  padding: 0.25em 1em;
  font-family: $ff-primary;
  margin-bottom: 1em;
}

/* intro section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: $boxShadow-introImg;
}

/*  tech stack    */
.techStack {
  color: $clr-dark;
  background-color: $clr-light;
  text-align: center;
}
.techStack__table {
  display: grid;
  width: min-content;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}

.section__title--techStack::after {
  @include lineBreak();
}
.techStack__img {
  min-width: 100px;
}

.section__subtitle--teachStack {
  margin-bottom: 0.5em;
}

/*  github  */

.github {
  background-color: $clr-dark;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}

.github--icon {
  font-size: 2.5em;
}
.github--icon:hover {
  color: $clr-hoversAccent;
  transition: all;
  transition-duration: 0.5s;
}

.gitHub__grid--col {
  display: grid;
  gap: 1rem;
  max-width: 100%;
  padding: 1em;
}

.github__Repo--Tile {
  display: grid;
  align-content: start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #354f52;
}
.github__Repo--Tile:hover {
  border: 1px solid;
  border-color: $clr-hoversAccent;
  color: $clr-hoversAccent;
}

.section__title--github::after {
  @include lineBreak();
}

.section__subtitle--github {
  padding-bottom: 0.5em;
}

/* Contact  */

.contact {
  background-color: $clr-light;
  color: $clr-dark;
  text-align: center;
}
.section__title--contact::after {
  @include lineBreak();
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;

    .intro__img {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
    }
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}
@media (min-width: 800px) {
  h1 {
    font-size: $m-fs-h1;
  }
  h2 {
    font-size: $m-fs-h2;
  }
  h3 {
    font-size: $m-fs-h3;
  }
  .grid-even-col {
    grid-template-columns: repeat(2, 1fr);
  }
}
